<?xml version="1.0"?>

<launch>
  <!--Provide option to set namespace from outside-->
  <arg name="namespace" default="/thor_mang"/>

  <group ns="$(arg namespace)">
    <node pkg="urg_node" type="urg_node" name="head_urg_node" output="screen">
      <rosparam>
        publish_intensity: true
        angle_min: -2.2689 
        angle_max: 2.2689 
        cluster: 1
        skip: 0
        ip_address: 192.168.1.20
        frame_id: head_link_hokuyo_laser_frame
        calibrate_time: true
        time_offset: 0.0
        publish_multiecho: true
      </rosparam>
      <remap from="scan" to="/head_lidar/scan"/>
    </node>
  </group>
</launch>

